.mainContainer {
  position: relative;
  width: 100%;
  background-color: transparent;
}

.stickyWrapper {
  position: sticky;
  top: 0;
  left: 0;
  width: 40%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoContainer {
  width: 80%;
  max-width: 1000px;
  aspect-ratio: 16 / 9;
  position: relative;
  top: 20%;
  left: 130%;
  overflow: hidden;
  border-radius: 12px;
}

.videoElement {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentOverlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}
.textContainer {
  width: 50%;
  padding: 2rem;
  padding-left: 15%;

  h2 {
    font-weight: bold;
  }
}
