.contentBoxA {
  display: flex;
  height: 400px;
  margin-top: 2rem;
  p {
    width: 50%;
    padding: 3rem;
  }
  .image {
    width: 50%;
    height: auto;
  }
}
.titleImageContainer {
  margin-bottom: -3rem;
}

.titleImage {
  width: 100vw;
  height: 700px;
  object-fit: cover;
}

.logo {
  position: relative;
  top: -600px;
  font-size: 65px;
  left: -240px;
  height: 100px;
}

.titleButton {
  position: relative;
  top: -200px;
  right: 40px;
  justify-content: flex-end !important;
}
