.contentBoxA {
  display: flex;
  height: 400px;
  margin-top: 2rem;
  p {
    width: 50%;
    padding: 3rem;

    font-size: 2rem;
    line-height: 37px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    text-align: right;
    margin-top: 3%;
  }
  .image {
    width: 50%;
    height: auto;
  }
}
.titleImageContainer {
  margin-bottom: -3rem;
  position: relative;

  h1 {
    font-size: 20rem;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 5%;
  }
}

.titleImage {
  width: 100vw;
  height: 700px;
  object-fit: contain;
  position: sticky;
  top: 0;
}

.logo {
  position: relative;
  top: -600px;
  font-size: 65px;
  left: -240px;
  height: 100px;
}

.titleButton {
  position: relative;
  top: -200px;
  right: 40px;
  justify-content: flex-end !important;
}
