.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem 2rem;
  margin: 1rem auto;
  align-items: stretch;
}

.cardItem {
  position: relative;
  overflow: hidden;
  background-color: rgba(105, 105, 105, 0.1);
  box-shadow: inset 0px 130px 30px -30px rgba(253, 253, 253, 0.8);
  height: 100%;
  display: flex;
  flex-direction: column;

  &:hover {
  }
}

.wrapper {
  width: 100%;
  flex-direction: column;
  aspect-ratio: 3 / 2;
  padding: 0 3.5rem 2rem 3.5rem;

  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;

  .iconContainer {
    display: flex;
    justify-content: center;
    .logo {
      display: flex;
      width: 60%;
      color: #cdb14f;
    }
  }

  &[data-category='gold'] {
    background-color: rgba(205, 177, 79, 0.1);
  }
  &[data-category='silver'] {
    background-color: rgba(192, 192, 192, 0.1);
  }
  &[data-category='brons'] {
    background-color: rgba(139, 69, 19, 0.1);
  }
  h3 {
    font-size: 32px;
    letter-spacing: 1px;
    width: 100%;
    margin-bottom: 1rem;
  }
  .bottomContainer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    justify-content: flex-end;
    width: 100%;
    li {
      width: 100%;
    }
  }

  .featureList {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    padding: 0;
    padding-left: 16px;
    margin: 0;
    width: 100%;
    li {
      justify-content: flex-start;
      padding-bottom: 12px;
    }
  }

  .buttonContainer {
    display: flex;
    margin-top: auto;
    justify-content: flex-end;
  }
}
