.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
  align-items: stretch;
}

.cardItem {
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  background: #ffffff;

  display: flex;
  flex-direction: column;

  &:hover {
    .bikeImage {
      filter: blur(4px);
      transform: scale(1.01);
    }

    .logoOverlay {
      opacity: 0.8;
    }
  }
}

.bikeWrapper {
  width: 100%;

  aspect-ratio: 3 / 2;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bikeImage {
  max-width: 100%;
  max-height: 100%;

  width: auto;
  height: auto;

  object-fit: contain;

  display: block;
  transition: all 0.4s ease-in-out;
}

.logoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 10;
}

.logoImage {
  object-fit: contain;
  max-width: 30vw;
}
