.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
  align-items: stretch;
}

.cardItem {
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  background: #000000;
  margin: 1rem;
  display: flex;
  flex-direction: column;

  &:hover {
    .bikeImage,
    .title {
      //filter: blur(12px);
      //transform: scale(1.01);
      opacity: 0;
      transition: 0.2s;
    }

    .logoOverlay {
      opacity: 0;
      animation: fadeIn 3s ease 0.1s forwards;
    }
  }
}

.bikeWrapper {
  width: 100%;

  aspect-ratio: 3 / 2;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    position: absolute;
    bottom: -30px;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
  }
}

.bikeImage {
  max-width: 100%;
  max-height: 100%;

  width: auto;
  height: auto;

  object-fit: contain;

  display: block;
}

.logoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  background: rgba(255, 255, 255, 0.49);
  z-index: 10;
}

.logoImage {
  object-fit: contain;
  width: 100%;
  &.hovered {
    //filter: blur(6px);
    //transform: scale(1.1);
  }
}

.textcontainer {
  position: absolute;
  top: 85%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;

  h3 {
    color: #fff;
    font-size: 55px;
    margin: 0;
    transition: font-size 0.3s ease;
    font-weight: bold;
  }

  p {
    color: #fff;
    font-size: 16px;
    opacity: 0;
    margin-top: 5px;
    transition: opacity 0.3s ease;
    white-space: nowrap;
  }

  &.hovered {
    h3 {
      animation: shrinkTitle 0.5s ease-in-out 1s forwards;
    }

    p {
      animation: fadeInText 0.5s ease-in-out 1s forwards;
    }
  }
}

@keyframes shrinkTitle {
  from {
    font-size: 55px;
  }
  to {
    font-size: 43px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(5px);
    font-size: 16px;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    font-size: 21px;
  }
}
