.contentBelow {
  position: relative;
  z-index: 20;
  background-color: black;
  box-shadow: inset 0 20px 50px -10px rgba(255, 255, 255, 0.05);
  width: 100%;
  padding-bottom: 20rem;
  //min-height: 100vh;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.stickyWrapper2 {
  position: relative;
  display: block;
  height: 1px;
  width: 100%;
}
