.contentBelow {
  position: relative;
  z-index: 20;
  background-color: black;
  box-shadow: inset 0 20px 50px -10px rgba(255, 255, 255, 0.05);
  width: 100%;
  padding-bottom: 20rem;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  h2 {
    font-family: 'Rubik Doodle Shadow', system-ui;
    width: 100%;
    text-align: center;
    font-size: 600px;
    font-weight: 600;
    letter-spacing: 8px;
    padding-top: 20rem;
    padding-bottom: 5rem;
    color: #fff;
    text-transform: capitalize;
    line-height: 1;
    position: absolute;
    top: 250px;
    opacity: 0.05;
    pointer-events: none;
  }

  h3 {
    padding-top: 30rem;
    position: relative;
    font-family: 'Sigmar One', sans-serif;
    font-size: 60px;
    color: #b7b5b5;
    letter-spacing: 2px;
    text-align: center;
    margin: 0 1rem;
  }

  p {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    max-width: 900px;
    text-align: center;
    color: #fff;
    letter-spacing: 2.5px;
    line-height: 48px;
    margin-top: 2rem;
    padding: 0 1rem;
  }
}

.stickyWrapper2 {
  position: relative;
  display: block;
  height: 1px;
  width: 100%;
}
