.text {
  color: white;
  letter-spacing: 2.2px;
  font-weight: normal;
  font-family: 'Josefin Sans', sans-serif;
  padding: 2px 4px;

  &:hover {
    text-shadow: 2px 1px 1px rgba(255, 255, 255, 0.5);
    transition: ease-in 0.1s;
    border-bottom: 1px solid white; //background-color: rgba(255, 255, 255, 0.18);
  }

  &[data-active='true'] {
    border-bottom: 2px solid white;
  }
}
