.mainContainer {
  position: relative;
  width: 100vw;
  height: 200vh; // Scroll-Dauer
  background-color: #000;
  overflow: visible;
}

.stickyWrapper {
  position: sticky;
  top: 0;
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; // Hier ok, da dies das sticky-Kind ist
}

.backgroundText {
  position: absolute;
  font-size: 25vw;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.03);
  z-index: 1;
  text-transform: uppercase;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleWrapper {
  text-align: center;
  margin-bottom: -25%;
  z-index: 1;

  .mainTitle {
    font-size: 18rem;
    font-weight: 800;
    color: #fff;
    margin: 0;
    letter-spacing: -2px;
    font-family: 'Syncopate', sans-serif;
    text-transform: capitalize;
  }
}

.imageContainer {
  width: 100%;
  max-width: 1400px;
  will-change: transform;
  display: flex;
  z-index: 10;
  justify-content: center;
  transition: transform 0.1s ease-out;
}

.image {
  width: 100%;
  height: 100%;
  transform: scale(1.6);
  object-fit: contain;
}

.buttonWrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.mainButton {
  font-size: 2rem !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

  &:hover {
    background-color: #f0f0f0;
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(255, 255, 255, 0.2);
  }

  &:active {
    transform: translateY(-2px);
  }
}
