.titleImageContainer {
  margin-bottom: -3rem;
}

.titleImage {
  width: 100vw;
  height: 700px;
  object-fit: cover;
}

.titleText {
  position: relative;
  top: -600px;
  font-size: 65px;
  left: 40px;
}

.titleButton {
  position: relative;
  top: -320px;
  right: 40px;
  justify-content: flex-end !important;
}
.imageWallContainer {
  display: flex;
  width: 100%;
  overflow: hidden;

  .wrapper {
    position: relative;
    height: 700px;

    flex: 1;
    transition: flex 0.5s ease-in-out;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      flex: 1.3;
    }

    .imageWallItem {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease;
    }

    .overlay {
      position: absolute;
      top: 450px;
      width: 100%;
      text-align: center;
      opacity: 0.8;
      transition: opacity 0.3s ease;

      white-space: nowrap;

      h2 {
        color: #fff;
        margin-bottom: 1rem;
      }
    }

    &:hover .overlay {
      opacity: 1;
    }
  }
}
