.titleImageContainer {
  margin-bottom: -3rem;
}

.titleImage {
  width: 100vw;
  height: 700px;
  object-fit: cover;
}

.titleText {
  position: relative;
  font-family: 'Notable', sans-serif;
  letter-spacing: 3px;
  transform: skewX(-10deg);
  font-size: 90px;
  color: var(--background);
  top: -614px;
  left: 26%;
  padding: 2rem 2rem 4rem 2rem;
  background-color: rgba(255, 255, 255, 0.6);
  width: fit-content;
  margin: 0;
}

.titleButton {
  position: relative;
  top: -300px;
  right: 40px;
  justify-content: flex-end !important;
}
