@use '../../../app/[locale]/variables' as *;

.contentBelow {
  position: relative;
  z-index: 20;
  background-color: $color-bg-primary;
  box-shadow: inset 0 20px 50px -10px $color-secondary-050;
  width: 100%;
  padding-bottom: 20rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: visible;
}

.stickyWrapper2 {
  position: relative;
  display: block;
  height: 1px;
  width: 100%;
}

// Old stuff ready for refactor and deleton

.container {
  display: flex;
  width: 100%;

  background-color: var(--background);

  &[data-flow='column'] {
    flex-direction: column;
  }

  &[data-align-items='center'] {
    align-items: center;
  }
  &[data-transparent='true'] {
    background-color: transparent;
  }

  &[data-align-items='flex-end'] {
    align-items: flex-end;
  }

  &[data-align-items='flex-start'] {
    align-items: flex-start;
  }

  &[data-align-items='stretch'] {
    align-items: stretch;
  }

  &[data-align-items='baseline'] {
    align-items: baseline;
  }

  // Optional: justify-content values
  &[data-justify-content='center'] {
    justify-content: center;
  }

  &[data-justify-content='flex-end'] {
    justify-content: flex-end;
  }

  &[data-justify-content='flex-start'] {
    justify-content: flex-start;
  }

  &[data-justify-content='space-between'] {
    justify-content: space-between;
  }

  &[data-justify-content='space-around'] {
    justify-content: space-around;
  }

  &[data-justify-content='space-evenly'] {
    justify-content: space-evenly;
  }

  &[data-background-color='true'] {
    background-color: var(--foreground);
  }

  &[data-max-width='1150'] {
    max-width: 1150px !important;
    margin: auto;
    overflow: hidden;
  }

  &[data-max-width='550'] {
    max-width: 550px !important;
    margin: auto;
    overflow: hidden;
  }
  &[data-max-width='456'] {
    max-width: 456px !important;
    margin: auto;
    overflow: hidden;
  }

  &[data-gap='2'] {
    gap: 2rem;
  }
  &[data-gap='4'] {
    gap: 4rem;
  }

  &[data-padding='true'] {
    padding: 10%;
    width: 80% !important;
  }
}

.formContainer {
  width: 100%;
}

.cartContainer {
  display: flex;
  gap: 1rem;
}

.title {
  text-align: center;
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding-bottom: 60px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.horizontalScrollContainer {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.scrollWrapper {
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 2rem;
  padding: 1rem 3rem;
  scroll-behavior: smooth;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  > * {
    flex: 0 0 auto;
    min-width: 200px;
  }
}

.horizontalScrollContainer::before,
.horizontalScrollContainer::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2rem;
  pointer-events: none;
  z-index: 1;
}

.horizontalScrollContainer::before {
  left: 0;
}

.horizontalScrollContainer::after {
  right: 0;
}

.hr {
  height: 1px;
  background-color: #c3c3c3;
  width: 95%;
  margin: 3rem auto 6rem auto;
}
@media (max-width: 1150px) {
  .horizontalScrollContainer::before {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), transparent);
  }

  .horizontalScrollContainer::after {
    background: linear-gradient(to left, rgba(255, 255, 255, 1), transparent);
  }

  .scrollWrapper {
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  .hr {
    margin: 1rem auto;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem 5rem;
  gap: 3rem;

  h2 {
    font-size: 4rem;
    font-weight: bold;
    color: white;
  }

  p {
    color: white;
    font-size: 1.5rem;
  }
}
