@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html,
body {
  max-width: 100vw;
  overflow-x: clip;
  color: var(--font-primare-color);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  p {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 23px;
  }

  a {
    color: var(--font-primare-color);
    text-decoration: none;
  }

  h1 {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 43px;
    font-size: 38px;
    font-weight: 600;
    color: var(--font-primare-color);
  }
  h2 {
    //font-family: 'DM Sans', sans-serif;
    line-height: 43px;
    font-size: 28px;
    font-weight: 400;
    color: var(--font-primare-color);

    font-family: 'Sigmar One', sans-serif;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  // Todo:  feature: dark mode when time
  html {
    color-scheme: dark;
  }
}
