:root {
  --background: #000000;
  --foreground: #000000;
  --foreground-light: #686868;
  --font-primare-color: #2f2b28;
  --font-primare-color-tow: #1a1a1a;
  --warning: #ff0000;
  --disabled: rgba(182, 182, 182, 0.43);
  --font-josefin: 'Josefin Sans', sans-serif;
  --font-lilita: 'Lilita One', cursive;
  --font-titillium: 'Titillium Web', sans-serif;
}
