@use '../../../app/variables' as *;

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  background-color: #000;
  width: 100%;
  max-width: 1200px;

  align-items: start;
  //padding-bottom: 10rem;
}
//
//.cardItem {
//  &:nth-child(even) {
//    margin-top: 40%;
//  }
//  &:nth-child(odd) {
//    margin-top: -12%;
//  }
//}

.cardItem:nth-child(1) {
}

.cardItem {
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  //overflow: hidden;
  background: #000;

  -webkit-backface-visibility: hidden;

  &:hover {
    .image {
      opacity: 0.3;
      filter: blur(4px);
    }
    .title {
      opacity: 0;
    }
  }
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 3 / 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .image {
    object-fit: cover;
    transition: all 0.4s ease-in-out;
  }

  .title {
    position: absolute;
    z-index: 2;
    color: $color-primary;
    font-size: 3rem;
    font-weight: bold;
    transition: opacity 0.3s ease;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }
}

.overlayContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 5;

  &.isVisible {
    opacity: 1;
    pointer-events: auto;
  }
}

.textcontainer {
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .titleOverlay {
    color: $color-primary;
    font-weight: bold;
    margin: 0;
    line-height: 1.1;
    margin-top: 10rem;

    .isVisible & {
      animation: shrinkTitle 0.6s ease forwards;
    }
  }

  .textOverlay {
    color: $color-primary;
    margin-top: 1rem;
    width: 80%;
    line-height: 1.5;
    opacity: 0;

    .isVisible & {
      animation: fadeInText 0.6s ease 0.2s forwards;
    }
  }
}

@keyframes shrinkTitle {
  from {
    font-size: 4rem;
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    font-size: 2.5rem;
    opacity: 1;
    transform: scale(1);
    margin-top: 0;
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
